<!DOCTYPE html>
<html>
  <head>
    <title>Francis Lalanne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="assets/francis-lalanne.jpg" rel="shortcut icon">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
